body {
    font-family: 'Arial', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

.content-wrapper {
    padding: 50px;
}

.aboutme {
    background-color: rgb(14, 160, 228); 
}

.projects {

}

footer {
    background-color: rgb(14, 160, 228); 
}

footer .copyright {
    text-align: center; 
}